body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    padding: 10px 0px ;
    text-align: center;
    color: white;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding-right: 15px;
}
#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    border: 2px solid;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}